.Fruits {
  list-style: none;
  width: 80%;
  height: 90%;
  margin: 10px auto;
  text-align: left;
}

.Fruits ul {
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: left;
}
