.FruitDetails {
  list-style: none;
  width: 80%;
  height: 90%;
  margin: 10px auto;
  text-align: left;
}

.FruitDetails textarea {
  width: 90%;
  height: 250px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: left;
  display: block;
  resize: none;
  line-height: 1.5;
  overflow-y: auto;
  color: black;
  background-color: white;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  flex-direction: column;
}

.FruitDetails h1,
.FruitDetails h4 {
  margin: 10px;
}

.EditButton {
  color: blue;
  background-color: white;
  border: 0;
  size: 1.17em;
}

.BackButton {
  color: darkblue;
  size: 1.17em;
  font-weight: bold;
  background-color: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin: auto 10px;
}
